<?xml version="1.0"?>
<configuration> 
  <appSettings>
     
    <add key="configFileName" value="WcfHost.exe.config"/>
    <add key="ServiceAssembly" value="SeatManage.WCFService.WcfHost,SeatManage.WCFService"/>
    <add key="ServiceAssembly" value="SeatService.Service.SeatWatch,SeatService.Service"/>
     
  </appSettings> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>




