<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=SeatBooking30;Persist Security Info=True;User ID=sa;Password=gxchuwei.com"/>
    <!--门禁数据库连接字符串-->
    <add name="AccessConnectionString" connectionString="Data Source=210.34.4.123;Initial Catalog=gatelogs;Persist Security Info=True;User ID=seatmanage;Password=seatmanage.96" />
    <!--座位系统数据库连接字符串-->
    <add name="SeatConnectionString" connectionString="Data Source=.;Initial Catalog=SeatBooking30;Persist Security Info=True;User ID=sa;Password=gxchuwei.com" />
  
  </connectionStrings>
  <appSettings>
    <!--刷卡记录有效时间 默认5分钟内有效-->
    <add key="validMinutes" value="5"/>
    <!--刷卡记录保留时间，默认保留30天-->
    <add key="delLogDays" value="30" />
    <!--删除过期刷卡记录操作时间-->
    <add key="delHandleTime" value="2:00"/>
    <add key="dataHandlerUrl" value="http://localhost:83/AccessInterface.asmx"/>
    <add key="configFileName" value="EntranceHandServiceHost.exe.config"/>
    <add key="ServiceAssembly" value="EntranceGuardDataHandlerService.EntranceGuardDataHandlerService,EntranceGuardDataHandlerService"/>
    <add key="ServiceAssembly" value="CardLogSyncService.CardLogSyncService,CardLogSyncService"/>


    <!--数据获取间隔-->
    <add key="GetDataInterval" value="5" />
    <!--获取数据有效时间-->
    <add key="BeforeTime" value="7" />
    <!--图书馆编号-->
    <add key="LibNo" value="01" />
    <!--同步程序名称-->
    <add key="SyncName" value="门禁记录同步程序" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
