<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AccessConnectionString" connectionString="Data Source=210.34.133.140;Initial Catalog=skeclientdb;Persist Security Info=True;User ID=ske;Password=ske"/>
    <add name="SeatConnectionString" connectionString="Data Source=.;Initial Catalog=SeatManageDB_V2_3;Persist Security Info=True;User ID=libseat;Password=jmulibseat"/>
  </connectionStrings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
